.about-me {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
}

.about-me__button {
    display: flex;
    justify-content: center;
}

.about-me__submit-btn {
    color: #1919EF66;
    background: none;
    width: 166px;
    height: 40px;
    border-radius: 60px;
    border: 1px solid #1919EF66;
}