.basket {
    align-self: flex-start;
    height: auto;
    min-width: 420px;
    position: sticky;
    top: 32px;
}

.basket-title {
    font-family: "Press Start 2P", "Arial", sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    color: #FFFFFFCC;
    margin: 0 0 40px;
}

.basket-box {
    background: #FFFFFF26;
    border-radius: 8px;
    padding: 24px 40px 40px;
    border: none;
}

.basket-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

.basket-info {
    height: auto;
    align-self: flex-start;
    display: flex;
    gap: 8px;
    align-items: center;
    padding: 4px 16px;
    border: 1px solid #FFFFFF;
    border-radius: 14px;
    color: white;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    cursor: pointer;
}

.basket-info:hover, .basket-info:focus {
    color: #87F29A;
    border-color: #87F29A;
}

.basket-info-logo {
    color: inherit;
}

.basket-mid-title {
    font-family: "Press Start 2P", "Arial", sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
    margin: 0 0 12px;
}

.basket-mid-title-green {
    color: #87F29A;
}

.basket-content {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;

    color: #FFFFFFCC;
    margin: 0 0 24px;
}

.basket-advantages-list {
    margin: 0 0 40px;
}

.basket-advantages-item {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 12px;
}

.basket-advantages-num {
    font-weight: 700;
    color: #000000;
    background: #87F29A;
    border-radius: 12px;
    padding: 2px 8px 4px;
    margin: 0 8px 0 0;
}

.basket-price {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    font-family: "Press Start 2P", "Arial", sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    margin: 0 0 40px;
}

.basket-full-price {
    display: block;
    position: relative;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin: 0 34px 0 0;
}

.basket-real-price {
    display: block;
}

.basket-full-price::after {
    content: "";
    position: absolute;
    top: 9px;
    left: -3px;
    width: 104px;
    border: 1px solid #FF7575;
}

.basket-consent {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin: 0 0 24px;
}

.basket-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding: 16px 60px;
    color: #000000;
    font-size: 22px;
    font-weight: 700;
    line-height: 32px;
    background: #87F29A;
    border-radius: 8px;
    border: 1px solid #00000066;
    cursor: pointer;
}

.basket-button:hover {
    background: #78DF8A;
}

.basket-button:disabled {
    background: #FFFFFF;
    color: #00000066;

}

.basket-button-tg {
    color: inherit;
}