.btn {
    cursor: pointer;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 16px;
    color: #FFFFFF;
}

.btn--gradient {
    background: linear-gradient(270deg, #537CCB 0%, #13AED7 100%);
}

.btn--gradient:hover, .btn--gradient:focus {
    background: #537CCB;
}

.btn--half-gradient {
    background: linear-gradient(270deg, #9548BD 0%, #547CCB 100%);
}

.btn--half-gradient:hover, .btn--half-gradient:focus {
    background: #9548BD;
}

.btn--full-gradient {
    background: linear-gradient(270deg, #D812AE 0%, #9548BD 100%);
}

.btn--full-gradient:hover, .btn--full-gradient:focus {
    background: #D812AE;
}