.card {
    padding: 0 29px 28px;
    background: #FFFFFF;
    border: 3px solid #0000001A;
    border-radius: 40px;
    min-height: 664px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.card__img {
    height: 248px;
    width: 382px;
}

.card__title {
    font-family: "Press Start 2P", "Arial", sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
    margin: 0 0 12px;
}

.card--violet .card__title-color {
    color: #AFA3FF;
}

.card--green .card__title-color {
    color: #87F29A;
}

.card--yellow .card__title-color {
    color: #FE8900;
}

.card__text {
    font-size: 16px;
    line-height: 22px;
    color: #00000099;
    margin: 0 0 22px;
}

.card__advantages-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 0;
    padding: 0;
    flex-grow: 1;
}

.card__advantages-item {
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.card__advantages-item-color {
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    border-radius: 12px;
    padding: 2px 8px;
}

.card--violet .card__advantages-item-color{
    background: #AFA3FF;
    color: black;
}

.card--green .card__advantages-item-color {
    background: #87F29A;
    color: black;
}

.card--yellow .card__advantages-item-color {
    background: #FFC61F;
    color: black;
}

.card--active {
    background: #121C25;
    color: #FFFFFF;
}

.card--active .card__text {
    color: #FFFFFF99;
}

.card--active .card__button--violet {
    background: #AFA3FF;
    color: black;
}

.card--active .card__button--green {
    background: #87F29A;
    color: black;
}

.card--active .card__button--yellow {
    background: #FFC61F;
    color: black;
}

.card--active .card__button--violet:hover, .card--active .card__button--violet:focus-visible {
    background: #998CF1;
}

.card--active .card__button--green:hover, .card--active .card__button--green:focus-visible {
    background: #78DF8A;
}

.card--active .card__button--yellow:hover, .card--active .card__button--yellow:focus-visible {
    background: #F2B913;
}