.card {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    max-width: 340px;
    padding: 36px 32px 24px;
    border: 1px solid #E2E4E8;
    border-radius: 28px;
}

.card__title {
    font-size: 28px;
    font-weight: 700;
    line-height: 33.6px;
    margin: 0 0 29px;
}

.card--take-action .card__title {
    width: fit-content;
    position: relative;
}

.card--take-action .card__title::after {
    content: "Хит продаж";
    position: absolute;
    right: -122px;
    bottom: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 700;
    line-height: 16.1px;
    letter-spacing: -0.02em;
    text-align: left;
    color: #FFFFFF;
    background: linear-gradient(90deg, #537CCB 0%, #9648BD 100%);
    border-radius: 60px;
    width: 109px;
    height: 28px;
}

.card__tariff-structure {
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 0 0 23px;
    gap: 19px;
}

.card__tariff-structure-elem-num {
    display: block;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 28.8px;
    margin: 0 0 5px;
}

.card__tariff-structure-elem-text {
    display: block;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 18.2px;
}

.card__tariff-structure-elem--start {
    width: 65px;
    position: relative;
}

.card__tariff-structure-elem--center {
    width: 105px;
    position: relative;
}

.card__tariff-structure-elem--end {
    width: 67px;
}

.card__tariff-structure-elem--center::before {
    content: "";
    position: absolute;
    bottom: 12px;
    left: 0;
    height: 34px;
    border: 1px solid #999899;
}
.card__tariff-structure-elem--center::after {
    content: "";
    position: absolute;
    bottom: 12px;
    right: 0;
    height: 34px;
    border: 1px solid #999899;
}

.card__tariff-services {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 0 0 12px;
}

.card__services-elem {
    display: flex;
    align-items: center;
    gap: 8px;
}

.card__services-elem-text {
    max-width: 151px;
    font-size: 14px;
    font-weight: 400;
    line-height: 18.2px;
}

.card__tariff-detailed-link {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 14px;
    font-weight: 600;
    line-height: 16.1px;
    color: #259DD6;
    margin: 0 0 28px;
}

.card__tariff-detailed-link:hover {
    color: #9D1881;
    cursor: default;
}

.card__tariff-detailed-link:focus {
    color: #9D1881;
}

.card__payment-selection {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 0 0 20px;
}

.card__order-button {
    background: linear-gradient(270deg, #537CCB 0%, #13AED7 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 16px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    width: 276px;
    height: 56px;
}

.card__order-button:hover {
    background: #537CCB;
}

.card__order-button:focus {
    background: #537CCB;
}

.card--take-action .card__order-button {
    background: linear-gradient(270deg, #9548BD 0%, #547CCB 100%);
}

.card--take-action .card__order-button:hover {
    background: #9548BD;
}

.card--take-action .card__order-button:focus {
    background: #9548BD;
}

.card--win .card__order-button {
    background: linear-gradient(270deg, #D812AE 0%, #9548BD 100%);
}

.card--win .card__order-button:hover {
    background: #D812AE;
}

.card--win .card__order-button:focus {
    background: #D812AE;
}