.card {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    max-width: 340px;
    padding: 35px 31px 23px;
    border: 1px solid #E2E4E8;
    border-radius: 28px;
}

.card__title {
    font-size: 28px;
    font-weight: 700;
    line-height: 33.6px;
    margin: 0 0 29px;
}

.card__tariff-structure {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 0 23px;
}

.card__tariff-structure-elem-separator {
    height: 34px;
    border: 1px solid #999899;
}

.card__tariff-structure-elem {
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 18.2px;
}

.card__tariff-structure-elem-num {
    font-size: 24px;
    font-weight: 700;
    line-height: 28.8px;
}

.card__tariff-services {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 0 0 12px;
}

.card__services-elem {
    display: flex;
    align-items: center;
    max-width: 156px;
    gap: 8px;
    font-size: 14px;
    font-weight: 400;
    line-height: 18.2px;
}

.card__tariff-detailed-link {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 14px;
    font-weight: 600;
    line-height: 16.1px;
    color: #259DD6;
    margin: 0 0 28px;
}

.card__tariff-detailed-link:hover {
    color: #9D1881;
}

.card__tariff-detailed-link:focus {
    color: #9D1881;
}

.card__payment-selection {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 0 0 20px;
}

.card__order-button {
    background: linear-gradient(270deg, #537CCB 0%, #13AED7 100%);
    padding: 18px 58px;
    border: none;
    border-radius: 16px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
}

.card__order-button:hover {
    background: #537CCB;
}

.card__order-button:focus {
    background: #537CCB;
}