.custom-checkbox {
    position: relative;
    padding-left: 38px;
}

.custom-checkbox__field {
    position: absolute;
    z-index: -1;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox__check-icon {
    position: absolute;
    display: none;
    top: 10.5px;
    left: 10.5px;

}

.custom-checkbox__field+.custom-checkbox__label::before {
    content: "";
    position: absolute;
    top: 4px;
    left: 4px;
    display: inline-block;
    flex-shrink: 0;
    flex-grow: 0;
    background: #FFFFFF;
    height: 20px;
    width: 20px;
    border-radius: 4px
}

.custom-checkbox__field:hover+.custom-checkbox__label {
    color: #87F29A;
}

.custom-checkbox__field:focus+.custom-checkbox__label {
    color: #87F29A;
}

.custom-checkbox__field:checked+.custom-checkbox__label+.custom-checkbox__check-icon {
    color: black;
    display: block;
}

.custom-checkbox--error .custom-checkbox__label::before {
    border: 1px solid #FF7575;
}

.custom-checkbox--error .custom-checkbox__field:checked+.custom-checkbox__label+.custom-checkbox__check-icon {
    color: #FF7575;
}

.custom-checkbox--error .custom-checkbox__label {
    color: #FF7575;
}