.custom-textarea {
    display: block;
    min-width: 100%;
    outline: none;
    border: none;
    font-family: inherit;
    font-size: 18px;
    border-bottom: 1px solid #CACACA;
    line-height: 21.6px;
    height: 102px;
}

.custom-textarea::placeholder {
    color: #9B9B9B;
  }