.custom-radio-payment {
    position: relative;
}

.custom-radio-payment__fat-text {
    font-size: 14px;
    font-weight: 700;
    line-height: 18.2px;
}

.custom-radio-payment__monthly-price {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.2px;
}

.custom-radio-payment__price {
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
}

.custom-radio-payment__details, .custom-radio-payment__details-second-draw {
    display: block;
    font-size: 14px;
    font-weight: 500;
    line-height: 18.2px;
    max-width: 165px;
}

.custom-radio-payment__field {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.custom-radio-payment__description {
    border: 2px solid #E2E4E8;
    border-radius: 20px;
    padding: 10px 16px 14px 14px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    cursor: pointer;
}

.custom-radio-payment--first .custom-radio-payment__description {
    display: block;
}

.custom-radio-payment--first .custom-radio-payment__monthly-price {
    margin: 0 0 4px;
}

.custom-radio-payment--first .custom-radio-payment__details {
    margin: 0 0 4px;
}

.custom-radio-payment__description::after {
    content: '';
    display: block;
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 2px solid #259DD6;
    border-radius: 1em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
}

.custom-radio-payment__field:hover+.custom-radio-payment__description {
    border: 2px solid #259DD6;
}

.custom-radio-payment__field:focus+.custom-radio-payment__description {
    border: 2px solid #259DD6;
}

.custom-radio-payment__field:checked+.custom-radio-payment__description {
    border: 2px solid #259DD6;
}

.custom-radio-payment:hover .custom-radio-payment__description::after {
    border: 2px solid #1883B6;
}

.custom-radio-payment__field:focus+.custom-radio-payment__description::after {
    border: 2px solid #1883B6;
}

.custom-radio-payment__field:checked+.custom-radio-payment__description::after {
    background-image: url("../../images/sprite/check.svg");
    border: none;
    background-size: 100%;
}