.custom-textarea {
    margin: 0;
}

.custom-textarea__title {
    display: block;
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    color: #FFFFFFCC;
    margin: 0 0 8px;
}

.custom-textarea__label {
    position: relative;
    display: block;
    min-width: 700px;
    min-height: 118px;
    padding: 10px 20px;
    cursor: pointer;
}

.custom-textarea__field {
    display: block;
    background: none;
    border: none;
    margin: 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    min-height: 72px;
    min-width: 100%;
    outline: none;
    cursor: pointer;
}

.custom-textarea__sibling {
    position: absolute;
    top: 0;
    left: 0;
    background: #FFFFFF26;
    border-radius: 8px;
    min-height: 100%;
    min-width: 100%;
    pointer-events: none;
}

.custom-textarea__error {
    display: none;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    color: #FF7575;
    margin-top: 8px;
}

.custom-textarea__field:focus+.custom-textarea__sibling {
    background: #6FB58226;
}

.custom-textarea__field:disabled+.custom-textarea__sibling {
    background: #FFFFFF0D;
}

.custom-textarea--error .custom-textarea__sibling {
    background: #FF757526;
}

.custom-textarea--error .custom-textarea__title {
    color: #FF7575;
}

.custom-textarea--error .custom-textarea__error {
    display: block;
}