.custom-input {
    position: relative;
    display: block;
}

.custom-input__field {
    display: block;
    padding: 16px 16px 16px 52px;
    width: 100%;
    background: none;
    border: none;
    outline: none;
    color: #FFFFFF;
    font-size: 18px;
    line-height: 24px;
}

.custom-input__field::placeholder {
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF66;
}

.custom-input__label {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #FFFFFF26;
    border-radius: 8px;
    cursor: pointer;
}

.custom-input__icon {
    position: absolute;
    top: 19px;
    left: 16px;
    color: #FFFFFF;
    font-size: 18px;
    line-height: 24px;
    pointer-events: none;
    cursor: pointer;
}

.custom-input__icon--phone {
    left: 19px;
}

.custom-input__field:hover+.custom-input__label, .custom-input__field:focus-visible+.custom-input__label {
    background: #6FB58226;
}

.custom-input__field:hover+.custom-input__label+.custom-input__icon, .custom-input__field:focus-visible+.custom-input__label+.custom-input__icon {
    color: #87F29A;
}

.custom-input--error .custom-input__label, .custom-input--error .custom-input__label {
    background: #FF757526;
}

.custom-input--error .custom-input__icon, .custom-input--error .custom-input__icon {
    color: #FF7575;
}