.custom-radio {
    position: relative;
}

.custom-radio__field {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.custom-radio__label {
    display: block;
    background: #FFFFFF26;
    padding: 8px 24px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
}

.custom-radio__field:focus-visible+.custom-radio__label, .custom-radio__field:hover+.custom-radio__label {
    color: #87F29A;
    background: #6FB58226;
}


.custom-radio__field:checked+.custom-radio__label {
    color: #87F29A;
}