.custom-input {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.custom-input__field {
  outline: none;
  border: none;
  font-family: inherit;
  padding: 0 32px 12px 0;
  font-size: 18px;
  border-bottom: 1px solid #CACACA;
  font-family: Unbounded;
  line-height: 21.6px;
}

.custom-input__field::placeholder {
  color: #9B9B9B;
}

.custom-input__mail-logo {
  position: absolute;
  bottom: 12px;
  left: 480px;
}