.order {
    font-family: "Play", "Arial", sans-serif;
}

.order__form {
    display: flex;
    justify-content: space-between;
    gap: 80px;
}

.order__contacts-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px 20px;
}