.questionnaire-box {
    border: none;
    padding: 0;
    display: block;
}

.questionnaire-box__wrapper {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 120px 80px;
}

.questionnaire-box__title {
    padding: 80px 0 0;
    display: block;
    min-width: 100%;
    margin: 0 0 32px;
    background-color: inherit;
    cursor: default;
}

.questionnaire-box__title-wrapper {
    display: flex;
    align-items: center;
    gap: 24px;
    font-family: "Press Start 2P", "Arial", sans-serif;
    font-size: 24px;
    line-height: 24px;
    max-width: 1440px;
    padding: 0 120px;
    margin: 0 auto;
}

.questionnaire-box__title-num {
    color: #000000;
    border-radius: 100px;
    padding: 18px 18px;
    background: #87F29A;
}

.questionnaire-box__group {
    border: none;
    border-radius: 24px;
    padding: 40px 64px;
    margin: 0;
    background: #FFFFFF26;
    cursor: default;
}

.questionnaire-box__group-title {
    margin: 0 0 40px;
    font-family: "Play", "Arial", sans-serif;
    font-size: 22px;
    font-weight: 700;
    line-height: 32px;
}

.questionnaire-box__list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 0;
    margin: 0;
}

.questionnaire-box--questions {
    position: relative;
}

.questionnaire-box--questions .questionnaire-box__title {
    padding: 0;
}

.questionnaire-box--questions .questionnaire-box__wrapper {
    display: grid;
    grid-template-columns: 1fr 152px 1fr;
    gap: 28px 24px;
}

.questionnaire-box__group--check {
    grid-column: span 2;
}

.questionnaire-box--package {
    background: #FFFFFF;
    color: #000000;
}

.questionnaire-box--package .questionnaire-box__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 27px;
}

.questionnaire-box__vector {
    position: absolute;
    bottom: -32px;
    left: calc(50% - 36px);
}

.questionnaire-box--package .questionnaire-box__title-num {
    color: #87F29A;
    background: #000000;
}

.questionnaire-box--delivery .questionnaire-box__wrapper {
    display: grid;
    grid-template-columns: 1fr 286px;
    gap: 40px;
}

.questionnaire-box--delivery .questionnaire-box__group {
    background: none;
    border: none;
    padding: 0;
}

.questionnaire-box__group-input {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    margin: 0 0 24px;
}