.tariff-card {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    max-width: 340px;
    padding: 36px 32px 24px;
    border: 1px solid #E2E4E8;
    border-radius: 28px;
}

.tariff-card__title {
    font-size: 28px;
    font-weight: 700;
    line-height: 33.6px;
    margin: 0 0 29px;
    cursor: default;
}

.tariff-card--label .card__title {
    width: fit-content;
    position: relative;
}

.tariff-card--label .card__title::after {
    content: "Хит продаж";
    position: absolute;
    left: 151px;
    top: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 700;
    line-height: 16.1px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    background: linear-gradient(90deg, #537CCB 0%, #9648BD 100%);
    border-radius: 60px;
    padding: 6px 12px;
    min-width: 109px;
}

.tariff-card__options {
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 0 0 23px;
    gap: 19px;
    list-style-type: none;
    padding: 0;
}

.tariff-card__options-elem-num {
    display: block;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 28.8px;
    margin: 0 0 5px;
}

.tariff-card__options-elem-text {
    display: block;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 18.2px;
}

.tariff-card__options-elem:first-child {
    width: 65px;
}

.tariff-card__options-elem:nth-child(2) {
    width: 105px;
    position: relative;
}

.tariff-card__options-elem:last-child {
    width: 67px;
}

.tariff-card__options-elem:nth-child(2)::before {
    content: "";
    position: absolute;
    bottom: 12px;
    left: 0;
    height: 34px;
    border: 1px solid #999899;
}
.tariff-card__options-elem:nth-child(2)::after {
    content: "";
    position: absolute;
    bottom: 12px;
    right: 0;
    height: 34px;
    border: 1px solid #999899;
}

.tariff-card__services {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 0 0 12px;
    list-style-type: none;
    max-width: 200px;
    padding: 0;
}

.tariff-card__services-elem {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    font-weight: 400;
    line-height: 18.2px;
}

.tariff-card__services-elem-image {
    flex-shrink: 0;
}

.tariff-card__services-elem-text {
    margin: 0;
}

.tariff-card__link {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    line-height: 16.1px;
    gap: 4px;
    margin: 0 0 28px;
}

.tariff-card__payment-selection {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 0 0 20px;
}

.tariff-card__order-button {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    padding: 18px 58px;
    min-width: 276px;
}