.tariffs {
    margin: 0 0 100px;
}

.tariffs__title {
    font-size: 48px;
    font-weight: 600;
    line-height: 57.6px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    text-align: center;
    margin: 42px 0 59px;
    cursor: default;
}

.tariffs__title-hashtag {
    color: #259DD6;
}

.tariffs__cards {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}