.banner-card {
    position: relative;
    display: flex;
    gap: 25px;
    background-color: $color-alice-blue;
    border-radius: 16px;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 60px;

    &__content {
        padding: 16px 0 16px 20px;

        @include vp-768 {
            padding: 24px 0 24px 25px;
        }

        @include vp-1024 {
            padding: 48px 0 48px 100px;
        }
    }

    &__title {
        font-weight: 600;
        font-size: 18px;
        line-height: 24px;
        margin: 0 0 8px;

        @include vp-1024 {
            font-size: 24px;
            line-height: 28px;
        }
    }

    &__text {
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        margin: 0;

        @include vp-1024 {
            font-size: 16px;
            line-height: 22px;
        }
    }

    &__image {
        @include vp-768 {
            position: absolute;
            top: -16px;
            right: 40px;
        };

        @include vp-1024 {
            top: -21px;
        }

        @include vp-1536 {
            right: 184px;
        }
    }
}