.custom-input {
    min-height: 52px;
    border: solid $color-periwinkle 1px;
    border-radius: 8px;
    padding: 0 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include vp-1024 {
        flex-grow: 1;
    }

    &__field {
        border: none;
        font-size: 14px;
        line-height: 18px;
    }

    &__button-box {
        display: flex;
        gap: 12px;
    }
}