.discounts {
  &__list {
    list-style-type: none;
    margin: 0 auto 60px;
    padding: 20px 21px;
    border-radius: 16px;
    box-shadow: 0 4px 20px 0 #141A2B29;

    @include vp-768 {
      padding: 24px;
    }

    @include vp-1024 {
      margin: 0 auto 100px;
      display: flex;
      gap: 25px;
      justify-content: center;
      padding: 0;
      box-shadow: none;
      border-radius: 0;
    }

    @include vp-1304 {
      margin: 0 auto 120px;
      gap: 24px;
    }
  }

  &__item:not(:last-child) {
    margin: 0 0 16px;

    @include vp-768 {
      margin: 0 0 24px;
    }

    @include vp-1024 {
      margin: 0;
    }
  }

  &__item {
    @include vp-1024 {
      max-width: 298px;
      padding: 32px 20px;
      background-color: $color-solitude-1;
      border-radius: 16px;
      text-align: center;
    }

    @include vp-1304 {
      min-width: 392px;
    }
  }

  &__item-title {
    margin: 0 0 4px;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;

    @include vp-1024 {
      margin: 0 0 8px;
      font-size: 24px;
      line-height: 28px;
    }
  }

  &__item-text {
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: $color-storm-grey-1;

    @include vp-768 {
      font-size: 16px;
      line-height: 22px;
    }
  }
}