.pages-selector {
    margin: 0 0 40px;

    @include vp-1024 {
        max-width: 570px;
        margin: 0 auto 60px;
    }

    &__list {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(40px, 1fr));
        gap: 8px;
        counter-reset: number -1;
    }

    &__list-item {
        counter-increment: number 1;

        &:first-child {
            grid-row: span 2;
        }
    }
}