.press-room {
  &__title {
    margin: 0 0 60px;
    font-size: 40px;
    line-height: 46px;

    @include vp-1023 {
      margin: 0 0 40px;
      font-size: 32px;
      line-height: 36px;
      text-align: center;
    }
    @include vp-767 {
      margin: 0 0 30px;
      font-size: 20px;
      line-height: 24px;
    }
  }

  &__wrapper {
    display: grid;
    grid-template-columns: 420px 740px;
    column-gap: 80px;

    @include vp-1023 {
      grid-template-columns: auto;
      gap: 40px;
    }
  }

  &__box {
    @include vp-1023 {
      grid-row-start: 2;
      grid-row-end: 3;
    }
  }

  &__newsletter {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 0 40px;
    padding: 20px;
    border-radius: 12px;
    background-color: $color-ghost-white;
    cursor: default;

    @include vp-1023 {
      align-items: center;
      margin: 0 0 20px;
    }

    @include vp-767 {
      margin: 0 0 15px;
    }
  }

  &__newsletter-title {
    max-width: 220px;
    margin: 0 0 10px;
    font-size: 20px;
    line-height: 24px;

    @include vp-1023 {
      font-size: 18px;
      line-height: 22px;
      max-width: none;
    }

    @include vp-767 {
      font-size: 14px;
      line-height: 18px;
      margin: 0 0 5px;
    }
  }

  &__newsletter-text {
    max-width: 220px;
    margin: 0 0 60px;
    font-size: 15px;
    line-height: 22px;

    @include vp-1023 {
      font-size: 14px;
      line-height: 20px;
      margin: 0 0 20px;
    }

    @include vp-767 {
      font-size: 12px;
      line-height: 16px;
      margin: 0 0 15px;
    }
  }

  &__newsletter-btn {
    width: 115px;

    @include vp-1023 {
      font-size: 12px;
      line-height: 16px;
      width: 138px;
    }
  }

  &__newsletter-img {
    position: absolute;
    top: 0;
    right: 0;
    pointer-events: none;

    @include vp-1023 {
      width: 708px;
      height: 148px;
    }

    @include vp-767 {
      display: none;
    }
  }
}
